@import "./variables.less";
@import "./mixins.less";

* {
  .reset()
}

html {
  font-family: @family;
  background: #080801;
  article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    .block()
  } 
}

.button,.order-button {
  .button();
  text-transform: @up;
  margin: 20px auto 40px auto;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: @white;
    a {
      .links();
    }
    header{
      height: 143px;
      background: #f8df1f;
      width: 100%;
      max-width: 1440px;
      .block();
      .desktop-menu{
          display: none;
        }
      }
  
       /* ******************************** HAMBURGER MENU STYLES *************************** */
  
      .hamburger {
        background: none;
        position: absolute;
        top: 26px;
        right: 24px;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #170b04;
        border: 0;
        font-size: 3em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
      }
      
      .cross {
        background: none;
        position: absolute;
        top: 38px;
        right: 29px;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: #170b04;
        border: 0;
        font-size: 5em;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
      }
  
      .menu {
        z-index: 1000000; 
        font-weight: bold; 
        font-size: 0.8em; 
        width: 100%; 
        background:#f8df1f;  
        position: absolute; 
        text-align: center; 
        font-size: @text;
        ul:first-child {
          padding-top: 70px;
        }
        ul {
          margin: 0; 
          padding: 0; 
          list-style-type: none; 
          list-style-image: none;
          li {
            display: block;   
            padding: 30px 0; 
            border-bottom:#d6be09 2px solid;
          }
        }
      }      
      /* ******************************** HAMBURGER MENU STYLES END*************************** */

    .image-section {
    background-image: url(img/banner-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 407px;
    background-position: center center;
        img.logo {
            width: 83%;
            max-width: 426px;
            display: block;
            margin: 0 auto;
            padding: 100px 0 17px 0;
        }
    }
    .burger-section {
        background: #ffffff;
        padding-bottom: 20px;
        .burger {
          max-width: 230px;
          .img-fix();
        }
        .space {
          margin: 41px 6%;
          text-align: left;
          h1 {
            .heading-basics();
            text-align: center;
            margin-top: 20px;
            span {
              color: @secondary;
              text-transform: @up;
            }
          }
          p {
            margin: 14px auto 31px auto;
          }
        }
      }
      .dine-section {
        background: #f3f3f3;
        padding-bottom: 20px;
        .headshot {
          max-width: 168px;
          .img-fix();
        }
        .space {
          margin: 41px 6%;
          text-align: left;
          h2 {
            .heading-basics();
            text-align: center;
            span {
              color: @secondary;
              text-transform: @up;
            }
          }
          p {
            margin: 14px auto 31px auto;
          }
        }
      }
}
