@import "./variables.less";
@import "./mixins.less";

* {
  .reset()
}

html {
  font-family: @family;
  background: @frame;
  article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    .block()
  } 
}

.button,.order-button {
  .button();
  text-transform: @up;
  margin: @text + 2 auto 40px auto;
}

  



body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: @white;
    a {
        .links();
    }
    header {
    height: 143px;
    background: @primary;
    width: 100%;
    max-width: 1440px;
    .block();
        .desktop-menu {
            display: none;
        }
        @media (min-width: 850px) {
            .desktop-menu {
                display: block;
            }
            ul {
                text-align: center;
            }
        @media (min-width: 1200px) {
            ul {
            text-align: left;
            margin-left: 101px;
            }
        }
            li {
            display: inline-flex;
            margin: 60px 0 0 43px;
            }
            .order-now a {
                color: @secondary;
                text-transform: @up;
            }
        }
    }

    /* ******************************** HAMBURGER MENU STYLES *************************** */

    .hamburger {
        font-size: @hamburger-size;
        background: none;
        position: absolute;
        top: 26px;
        right: 15px;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: @brand-text;
        border: 0;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }
    
    .cross {
        font-size: @cross-size;
        background: none;
        position: absolute;
        top: 38px;
        right: @text + 2;
        line-height: 45px;
        padding: 5px 15px 0px 15px;
        color: @brand-text;
        border: 0;
        cursor: pointer;
        outline: none;
        z-index: 10000000000000;
    }

    .menu {
        z-index: 1000000; 
        font-weight: bold; 
        width: 100%; 
        background: @primary;  
        position: absolute; 
        text-align: center; 
        font-size: @text;
        ul:first-child {
        padding-top: 70px;
        }
        ul {
            margin: 0; 
            padding: 0; 
            list-style-type: none; 
            list-style-image: none;
            li {
                display: block;   
                padding: 30px 0; 
                border-bottom: @primary 2px solid;
            }
        }
    }
    @media (min-width: 850px) {
      .hamburger, .cross, .menu {
        display: none;
      }
    }
    /* ******************************** HAMBURGER MENU STYLES END*************************** */
  
    .image-section {
        background-image: url(img/banner-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 407px;
        background-position: center center;
        img.logo {
            width: 83%;
            max-width: 426px;
            display: block;
            margin: 0 auto;
            padding: 100px 0 17px 0;
        }
    }
    .burger-section {
        background: @white;
        @media (min-width: 850px) {
            .burger-section {
                display: inline-flex;
                flex-direction: row-reverse;
                width: 80%;
                margin: 0 66px;
            }
        }
        .burger {
            max-width: 230px;
            .img-fix();
        }
        @media (min-width: 850px){
            .burger {
                padding: 100px 0;
            }
        }
        @media (min-width: 1160px){
            .burger {
                padding: 85px 0;
            }
        }
        .space {
            margin: 51px 5%;
            text-align: left;
            h1 {
                .heading-basics();
                text-align: center;
                margin-top: @text + 2;
                text-transform: @up;
                span {
                    color: @secondary;
                }
            }
            @media (min-width: 850px) { 
                h1 { 
                    text-align: left;
                }
            }
        p {
            margin: 14px auto 31px auto;
        }
            @media (min-width: 850px) {
                p {
                    margin: 7px 0 19px 0;
                }
            }
            @media (min-width: 850px) {
                .space {
                    margin: 50px 0 0 50px;
                    text-align: left;
                }
            }
        }
    }
    @media (min-width: 850px) {
        .burger-section {
            display: inline-flex;
            flex-direction: row-reverse;
            width: 80%;
            margin: 0 66px;
        }
    }
    .dine-section {
        background: @brand-gray;
        padding-bottom: @text + 2;
        .headshot {
            max-width: 168px;
            .img-fix();
        }
        @media (min-width: 850px){
            .headshot {
                padding: 55px 7%;
            }
        }
        .space {
            margin: 51px 5%;
            text-align: left;
            h2 {
                .heading-basics();
                text-align: center;
                .span-1 {
                    color: @brand-text;
                    text-transform: @up;
                }
                span {
                    color: @secondary;
                    text-transform: @up;
                }
            }
                @media (min-width: 850px) { 
                    h2 { 
                        text-align: left;
                        margin-top: 23px;
                    }
                }
            p {
                margin: 14px auto 31px auto;
            }
                @media (min-width: 850px) {
                    p { 
                        margin: 7px 0px @text + 2;
                    }
                }
            @media (min-width: 850px) {
                .space {
                margin: 50px 0 0 50px;
                text-align: left;
                }
            }
        }
    }
    @media (min-width: 850px) {
        .dine-section, .container {
            display: inline-flex;
            flex-direction: row;
            padding: 0px;
        }
        .container {
            width: 81%;
            margin: 0 auto;
        }
    }
    .yellow-line {
        height: 13px;
        background: @primary;
        margin-top: -4px;
    }
    footer {
        background: @brand-text;
        img.logo {
        width: 72%;
        max-width: 360px;
        display: block;
        margin: 0 auto;
        padding: 33px 0 17px 0;
        }
    }
}







